:root {
    --board-gap: 5px;
}

.board {
    display: grid;
    padding: var(--board-gap);
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);

    gap: var(--board-gap);
    
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: #444444;
}

.state {
    width: 355px;
    display: flex;
    flex-direction: row;
}

.state__col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.state__tile {
    width: 25%;
    align-items: center;
    justify-content: center;
}

.state__info {
    flex-grow: 1;
}

.state__row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.state__row__label {
    width: 50%;
    font-weight: bold;
}