.player {
  height: var(--player-size);
  width: var(--player-size);
  position: absolute;
  z-index: 5;
  opacity: 0.9;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  transition: all 0.25s ease-out;
}

.player--color-0 {
  background-color: #0000fc;
  transform: translateX(-10px) translateY(-10px);
}

.player--color-1 {
  background-color: #358138;
  transform: translateX(10px) translateY(10px);
}

.player--color-2 {
  background-color: #e60000;
  transform: translateX(10px) translateY(-10px);
}

.player--color-3 {
  background-color: #fecf48;
  transform: translateX(-10px) translateY(10px);
}

.player--animate {
  transform: translateX(0) translateY(0);
}
