{% extends 'base.html.twig' %}

{% block title %}Welcome to Labyrinth Online!
{% endblock %}

{% block body %}
	<form action="{{ url('board_new') }}">
		<button>New Board</button>
	</form>
{% endblock %}
