{% extends 'base.html.twig' %}

{% set player = app.session.get('player') %}

{% block title %}Welcome to Labyrinth Online!
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
	<div class="col col-6">
		{% if app.user == NULL %}
			{% include "auth/components/sign_in_form.html.twig" with { 'error': null, 'last_username': '' } %}
		{% else %}
			{{ form(newBoardForm) }}
		{% endif %}
	</div>
	<div class="col col-6">
		<ul>
		{% for board in boards %}
			<li><a href="{{ url('board_view', { 'id': board.id }) }}">Board #{{ board.id }}</a> </li>
		{% endfor %}
		</ul>
	</div>
</div>
</div>
{% endblock %}