
.player {
    height: var(--player-size);
    width: var(--player-size);
    position: absolute;
    z-index: 5;
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);
}

.player--color-0 {
    background-color: #0000FC;
    top: var(--player-offset);
    left: var(--player-offset);
}

.player--color-1 {
    background-color: #358138;
    bottom: var(--player-offset);
    right: var(--player-offset);
}

.player--color-2 {
    background-color: #E60000;
    top: var(--player-offset);
    right: var(--player-offset);
}

.player--color-3 {
    background-color: #FECF48;
    bottom: var(--player-offset);
    left: var(--player-offset);
}