{% for i in range(1, 5, 2) %}
	<form action="{{ actionUrl }}" method="POST">
		<input type="hidden" name="insert_tile[_token]" value="{{ csrf_token('insert_tile') }} ">
		<input type="hidden" name="insert_tile[index]" value="{{i}}">

		<button {% if board.gameState != 0 or not board.canPlay %} disabled {% endif %}>{{label}}</button>
	</form>
{% endfor %}
