# The Application secret
APP_SECRET=

# Postgres user
POSTGRES_USER=labyrinth

# Postgres Password
POSTGRES_PASSWORD=s3cr3t

# The database URL
DATABASE_URL="postgresql://labyrinth:s3cr3t@postgres:5432/app?serverVersion=15&charset=utf8"

# The webapp URL
WEBAPP_URL="http://localhost:9000"
