:root {
    --tile-size: 90px;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.game {
    display: flex;
    gap: 20px;
    width: calc((var(--tile-size) * 7) + 380px);
}

/**
 * Board
 */
.board {
    display: grid;
    height: calc(var(--tile-size) * 7 + 60px);
    width: calc(var(--tile-size) * 7 + 60px);

    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background: url(/images/background.png) repeat;
}

.tile {
    position: relative;
    display: flex;
    flex-direction: row;
    width: var(--tile-size);
    height: var(--tile-size);
    align-items: center;
    justify-content: center;
}


.tile::before,
.tile::after {
    position: absolute;
    content: "";
    background-color: #e0e0e0;
    opacity: 0.85;
    z-index: 0;
}

.tile:hover {
    cursor: pointer;
}

.tile:hover::before,
.tile:hover::after {
    opacity: 1;
}

.tile--target::before,
.tile--target::after {
    background-color: #7A82E3;
}

.tile--remaining {
    background: url(/images/background.png) repeat;
}

.tile .emoji {
    z-index: 1;
}

.tile--shape-0::before {
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 0;
}

.tile--shape-1::before {
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 0;
}

.tile--shape-1::after {
    top: 0;
    right: 30px;
    bottom: 60px;
    left: 30px;
}

.tile--shape-2::before {
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 0;
}

.tile--shape-2::after {
    top: 60px;
    right: 30px;
    bottom: 0px;
    left: 30px;
}

.tile--rotation-90 {
    transform: rotate(90deg);
}

.tile--rotation-90 .emoji {
    transform: rotate(-90deg);
}

.tile--rotation-180 {
    transform: rotate(180deg);
}

.tile--rotation-180 .emoji {
    transform: rotate(-180deg);
}

.tile--rotation-270 {
    transform: rotate(270deg);
}

.tile--rotation-270 .emoji {
    transform: rotate(-270deg);
}

.player {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 0 1;
    justify-content: space-between;
    gap: 10px;
}

.row .row__label {
    font-weight: bold;
}

.row .row__value {
    width: 50%;
}