:root {
    --tile-size: 90px;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

html {
    height: 100%;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: row;
    height: 48px;
    background-color: #222222;
    width: 100%;
    color: #ffffff;
    padding: 0 20px;
    justify-content: space-between;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header a:visited {
    color: #ffffff;
}

header form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

header form input[type="text"] {
    height: 100%;
    background-color: #444444;
    border: 0;
    padding: 5px 20px;
    color: #ffffff;
    font-size: 1rem;
}

header form input[type="text"]:focus {
    outline: none;
    font-size: 1rem;
}

header form input[type="text"]::placeholder {
    color: #ffffff;
    font-style: italic;
    font-size: 1rem;
}

header form button {
    height: 100%;
    background-color: #333333;
    border: 0;
    color: #ffffff;
    font-size: 1rem;
    padding: 5px 20px;
}

button:not([disabled]) {
    cursor: pointer;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc((var(--tile-size) * 7) + 540px);
}

.game__row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;
}

.game__actions {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.game__actions--top,
.game__actions--bottom {
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    padding-left: 95px;
    padding-right: 365px;
}

.game__actions--right,
.game__actions--left {
    flex-direction: column;
    flex-grow: 1;
}

.game button:not(.tile) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border: 1px #555555 solid;
    background-color: #fff;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

.game button:not(.tile):hover {
    border: 1px #222222 solid;
}

.game button:not(.tile):focus {
    margin-top: 2px;
}

.game button:not(.tile)[disabled] {
    color: #dddddd;
    border: 1px #dddddd solid;
    box-shadow: none;
    cursor: default;
}

/**
 * Board
 */
.board {
    display: grid;
    height: calc(var(--tile-size) * 7 + 80px);
    width: calc(var(--tile-size) * 7 + 80px);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);

    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: #444444;
}

.tile {
    display: flex;
    flex-direction: row;
    width: var(--tile-size);
    height: var(--tile-size);
    border: 1px #d0d0d0 solid;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    background: url(/images/background.png) repeat;
    margin: 0;
    padding: 0;
}

.tile__content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.tile__content::before,
.tile__content::after {
    position: absolute;
    content: "";
    background-color: #d0d0d0;
    z-index: 0;
}

.tile__content:hover {
    cursor: pointer;
    border-color: #ffffff;
}

.tile__content:hover::before,
.tile__content:hover::after {
    background-color: #ffffff;
}

.tile--target::before,
.tile--target::after {
    background-color: #ffA500;
}

.tile--target:hover::before,
.tile--target:hover::after {

    background-color: #ff4500;
}

.tile--remaining {
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);
}

.tile .emoji {
    z-index: 1;
}

.tile--shape-0::before {
    top: 29px;
    right: 0;
    bottom: 29px;
    left: 0;
}

.tile--shape-1::before {
    top: 29px;
    right: 0;
    bottom: 29px;
    left: 0;
}

.tile--shape-1::after {
    top: 0;
    right: 29px;
    bottom: 59px;
    left: 29px;
}

.tile--shape-2::before {
    top: 29px;
    right: 29px;
    bottom: 29px;
    left: 0;
}

.tile--shape-2::after {
    top: 59px;
    right: 29px;
    bottom: 0px;
    left: 29px;
}

.tile--rotation-90 {
    transform: rotate(90deg);
}

.tile--rotation-90 .emoji {
    transform: rotate(-90deg);
}

.tile--rotation-180 {
    transform: rotate(180deg);
}

.tile--rotation-180 .emoji {
    transform: rotate(-180deg);
}

.tile--rotation-270 {
    transform: rotate(270deg);
}

.tile--rotation-270 .emoji {
    transform: rotate(-270deg);
}

.tile__player {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 5;
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);
}

.tile__player--color-0 {
    background-color: #0000FC;
    top: 10px;
    left: 10px;
}

.tile__player--color-1 {
    background-color: #358138;
    bottom: 10px;
    right: 10px;
}

.tile__player--color-2 {
    background-color: #E60000;
    top: 10px;
    right: 10px;
}

.tile__player--color-3 {
    background-color: #FECF48;
    bottom: 10px;
    left: 10px;
}

.scores {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.scores__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.scores__row .scores__row__label {
    font-weight: bold;
}

.scores__row .scores__row__value {
    width: 50%;
}

.scores__row--actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}